[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "sbin/sysadmin"]
	path = sbin/sysadmin
	url = https://github.com/skx/sysadmin-util.git
[submodule "zinit"]
	path = zinit
	url = https://github.com/robobenklein/zinit.git
	branch = master
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
